.offer-icon{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: rgb(238, 118, 81);
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.recent-blog{
    background: rgba(179, 174, 174, 0.37);
}

.section-header{
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
}

.section-header:after {
    content: "";
    height: 4px;
    width: 100px;
    background-color: #FCA737;
    position: absolute;
    bottom: 0;
    left: calc(50% - 50px);
}
.social-icon{
    height: 40px;
    width: 40px;
    background: rgba(102, 97, 97, 0.37);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-icon{
  width: 55px;
  height: 55px;
  border: 1px solid rgba(194, 189, 189, 0.363);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
}
.contact-form-shadow{
  box-shadow: -3px 8px 22px -6px #000;
}
a{
    text-decoration: none;
}
.footer_recent_blog>p, .blog_recent_post_text>p{
    margin-bottom: 7px;
}
.pagination_blog_post{
    display: flex;
    align-items: center;
    justify-content: center;
}
.topics_control_links>input:hover{
    text-decoration: underline !important;
}
.topics_control_links>a:hover{
    text-decoration: underline !important;
}
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}


/*Conutdown timer styling*/
.icon-bar {
    position: fixed;
    top: 50%;
    right: 10%;
    z-index: 9999;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
/* nav svg{
    height: 20px;
}
.pagination_paragraph_remove .text-gray-700{
    display: none;
}
.pagination_paragraph_remove .text-gray-700 div{
    display: none;
} */
/*Responsive media section*/

/**Progress bar**/

.loading_bar:after {
	content: "";
	/* width: 40px; */
    height: 8px;
    background: red;
    
	position: absolute;
    animation: loader 10s;
    -webkit-animation: loader 10s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
	bottom: 0px;
    
	margin-left: 0;
}

@keyframes loader {
    0% {width: 0%;left:0;right:0} 
    25% {width: 50%;left:0;right:0} 
    50% { width: 100%;left:0;right:0} 
    75% { width: 50%;left:0;right:0} 
    99% { width: 0%;left:100%;right:0} 
}

@-webkit-keyframes loader {
    0% {width: 0%;left:0;right:0}
    50% { width: 100%;left:0;right:0} 
    99% { width: 0%;left:100%;right:0} 
}

/**Progress bar end**/



/* About us section*/

.about_section_after_line::after{
    content: "";
	height: 2px;
	width: 200px;
	background: rgb(235, 181, 34);
	display: block;
	margin: 10px auto 0;
}

/*About Google translator*/
.translated-ltr{margin-top:-40px;}
.translated-ltr{margin-top:-40px;}
.goog-te-banner-frame {display: none;margin-top:-20px;}

.goog-logo-link {
   display:none !important;
}
.goog-te-gadget{
    color: transparent !important;
    font-size: 0 !important;
}
.goog-te-gadget .goog-te-combo {
    margin: 2px 0 !important;
}
.goog-te-combo{
    border: 1px solid #AAA !important;
    border-radius: 2px !important;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1) !important;
    width: 130px !important;
    color: rgb(2, 104, 221) !important;
    overflow: hidden !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    text-overflow: ellipsis !important;
    white-space: nowrap;
}
/*End about us secton*/

/*Video thumbnail*/
/* .video_thumbnail{

} */
.video_section{
    position: relative;
    width: 100%;
    height: 150px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.youtube_play_button{
    position: absolute;
    font-size: 60px;
    color: red;
}
.playlist_section{
    position: relative;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.playlist_play_button {
    position: absolute;
    font-size: 35px;
    color: white;
    background: rgba(0, 0, 0, 0.555);
    padding: 10px;
    border-radius: 20px;
}

/** Preloader **/
.preloader{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
/** Media screen**/
@media(max-width: 576px){
    .carousel_image{
        height: 150px;
    }
    .icon-bar {
        position: fixed;



     top:95%;
     right:0;
     z-index: 9999;

     -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
     }
}
@media(min-width: 577px){
    .carousel_image{
        height: 250px;
    }
}
@media(min-width: 769px){
    .carousel_image{
        height: 270px;
    }
}
@media(min-width: 768px){
    .carousel_image{
        height: 300px;
    }
}
@media(min-width: 993px){
    .carousel_image{
        height: 335px;
    }
}
