@media only screen and (max-width: 480px) {
  .video-height{
    height: 200px;
    width: 100vw;
  }
}

@media only screen and (max-width: 768px) {
  .video-height{
    height: 300px;
    width: 90vw;
  }
}

@media only screen and (min-width: 769px) {
  .video-height{
    height: 300px;
    width: 50vw;
  }
}